<input type="hidden" name="csrf_token" value="<%= Plug.Conn.get_session(@conn, :csrf_token) %>" />
<div>
  <label for="post_title">Título</label>
  <input id="post_title" type="text" name="title" value="<%= @post.title %>" >
</div>
<div>
  <label for="post_content">Conteúdo</label>
  <textarea id="post_content" name="content" ><%= @post.content %></textarea>
</div>
