<div class="form-group">
  <label for="post_title">Title</label>
  <input class="form-control" id="post_title" type="text" name="title" value="<%= @post.title %>" />
</div>
<div class="form-group">
  <label for="post_content">Content</label>
  <textarea class="form-control" id="post_content" name="content" ><%= @post.content %></textarea>
</div>
