<div class="col-xs-3" ></div>
<div class="col-xs-6">
  <h1>Edit your post</h1>
  <%= form_for @conn, posts_path(@conn, :update, @post.id), [name: :post, method: :put], fn f -> %>
    <%= render Blog.PostsView, "_form.html", [conn: @conn, post: @post, form: f] %>
    <div>
      <%= submit "Update", class: "btn btn-default" %>
      <a class="pull-right" href="<%= posts_path(@conn, :index) %>">Back to posts</a>
    </div>
  <% end %>
</div>
<div class="col-xs-3" ></div>
