<div class="col-xs-3" ></div>
<div class="col-xs-6">
  <h1>Edit your post</h1>
  <%= form_tag(posts_path(@conn, :update, @post.id), method: :put) %>
    <%= render Blog.PostsView, "_form.html", [conn: @conn, post: @post] %>
    <div>
      <input class="btn btn-default" type="submit" value="Update" >
      <a class="pull-right" href="<%= posts_path(@conn, :index) %>">Back to posts</a>
    </div>
  </form>
</div>
<div class="col-xs-3" ></div>
