<div class="col-xs-3" ></div>
<div class="col-xs-6">
  <h1>Create a new post</h1>
  <%= form_for @changeset, posts_path(@conn, :create), fn f -> %>
    <%= render Blog.PostsView, "_form.html", [conn: @conn, changeset: @changeset, form: f] %>
    <div class="form-group">
      <%= submit "Create", class: "btn btn-default" %>
      <a class="pull-right" href="<%= posts_path(@conn, :index) %>">Back to posts</a>
    </div>
  <% end %>
</div>
<div class="col-xs-3" ></div>
