<h1>Create a new post</h1>
<form method="post" action="<%= posts_path(@conn, :create) %>">
  <%= render Blog.PostsView, "_form.html", [conn: @conn, post: @post] %>
  <div>
    <input type="submit" value="Create" >
  </div>
</form>
